.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: var(--font-secondary);
    font-size: clamp(1.05rem, 4vw, 1.3125rem);
    font-weight: 700;

    padding: 15px 25px;

    border: 2px solid;

    transition: 0.4s;
}

.button.red{
    color: var(--color-red);
    border-color: var(--color-red);
}

.button.red:hover{
    color: var(--color-white);
    background-color: var(--color-red);
}

.button.white{
    color: var(--color-white);
    border-color: var(--color-white);
}

.button.white:hover{
    color: var(--color-red);
    background-color: var(--color-white);
}