.field{
    width: 100%;

    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--color-red);
    padding: 0 20px;
    height: 4.625rem;
    border: 2px solid var(--color-red);
}