:root{
    --font-primary: "Oswald", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-red: #F23D00;
    --color-yellow: #F8F6EC;
}