.headline {
   padding: 10px 15px;
   border-top: 4px solid;
   border-bottom: 4px solid;
   border-color: var(--color-red);
}

.box{
    display: flex;
}

.box > div{
    width: 50%;
}

.box .imageBox{
    display: flex;
}

.box .imageBox img{
    width: 100%;
}

.box .contentBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px clamp(40px, 9vw, 140px);
}

.box .contentBox p{
    margin-top: 40px;
    margin-bottom: 50px;
}

@media (max-width: 800px){
    .box{
        flex-direction: column;
    }

    .box > div{
        width: 100%;
    }
}